<br>
<div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h1 class="text-center">Flight Search</h1>
        <form>
          <div class="form-group">
            <label for="source"><h5>Source:</h5></label>
            <input type="text" class="form-control" id="source" placeholder="Enter source">
          </div>
          <br>
          <div class="form-group">
            <label for="destination"><h5>Destination:</h5></label>
            <input type="text" class="form-control" id="destination" placeholder="Enter destination">
          </div>
          <br>
          <div class="form-group">
            <label for="date"><h5>Date:</h5></label>
            <input type="date" class="form-control" id="date">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
  </div>